body {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: map-get($colors, dark);
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-l;
  font-weight: 500;
}

h4 {
  font-size: $font-size-m;
  font-weight: 500;
}

h5 {
  font-size: $font-size-s;
  font-weight: 500;
}

h6 {
  font-size: $font-size-xs;
  font-weight: 500;
}
