.Button {
  padding: $spacing-s * 3 $spacing-s * 5;
  border-radius: 3px;
  font-weight: 500;

  &--shadow {
    box-shadow: $shadow;
  }

  &--simple#{&} {
    @each $name, $color in $colors {
      &--#{$name} {
        background-color: $color;
        color: text-color($color, $colors);

        &:hover {
          background-color: darken($color, 2.5%);
        }
        &:active {
          background-color: darken($color, 5%);
        }
      }
    }
  }

  &--outline#{&} {
    background-color: transparent;
    @each $name, $color in $colors {
      &--#{$name} {
        border: 1px solid $color;
        color: $color;

        &:hover {
          background-color: $color;
          color: map-get($colors, light);
        }
        &:active {
          background-color: darken($color, 2.5%);
          color: map-get($colors, light);
        }
      }
    }
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
    box-shadow: none;
  }

  &--full {
    display: block;
    width: 100%;
  }
}
