// removing annoying yellow background
input {
  border: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
}

.Input {
  $color-positive-lighter: rgba(map-get($colors, dark), 0.4);
  $color-positive-light: rgba(map-get($colors, dark), 0.6);

  flex: 1 1 100%;
  position: relative;
  display: flex;

  label {
    font-size: $font-size;
    line-height: 16px;
    pointer-events: none;
    position: absolute;
    top: $spacing * 2;
    left: 0;
    transition: top $fastest ease, transform $fastest ease;
    transform-origin: left;
  }

  input {
    background-color: transparent;
    padding: $spacing * 2 0 $spacing;
    width: 100%;
    font-size: $font-size;
    line-height: 16px;
    color: map-get($colors, dark);
  }

  &__btn-password {
    width: $spacing * 4;
    @include icon_properties($spacing * 2, $color-positive-lighter);
  }

  &__formField {
    position: relative;
    display: flex;
    color: $color-positive-light;
    border-bottom: solid 1px $color-positive-lighter;
    transition: all $fastest ease;

    &--active {
      label {
        top: 0;
        transform: scale(0.75);
        color: map-get($colors, primary);
      }
    }

    &--focus,
    &:focus {
      border-color: map-get($colors, primary);
      .Input__btn-password {
        @include icon_properties(null, map-get($colors, primary));
      }
    }

    &--error {
      animation: shake $fast;
      animation-delay: $fastest;
      color: map-get($colors, error);
      border-color: map-get($colors, error);
    }

    &--disabled {
      border-bottom: dotted 1px $color-positive-lighter;
      input {
        color: $color-positive-lighter;
        cursor: not-allowed;
      }
    }
  }

  &__error {
    height: $font-size-xs * 2;
    width: 100%;
    position: absolute;
    bottom: -$font-size-xs * 2;
    color: map-get($colors, error);
    font-size: $font-size-xs;
    line-height: 2;
  }
}
